<style type="text/css" media="screen">
p {margin-top:0in; margin-bottom:.0001pt; margin-left:0in; margin-right:0in;}
ul, ol  {margin-top:0in; margin-bottom:.0001pt; margin-left:0in; margin-right:0in;}
body, table { font-family: Arial, Helvetica, Tahoma; font-size: 9pt; }
table.display { font-family: Arial, Helvetica, Tahoma; font-size: 9pt; width: 100%;}
table.display2 { font-family: Arial, Helvetica, Tahoma; font-size: 9pt; width: 95%;}
.display td, .display2 td { vertical-align: top; font-size: 9pt;}
table.list { font-family: Arial, Helvetica, Tahoma; font-size: 9pt; width: 95%; border-width: 1px; border-style: solid; border-color: #54321C; border-collapse: collapse; padding: 5px 5px 5px 5px; }
.list th { color: #000000; background-color: #F5EDE7; border-width: 1px; border-style: solid; border-color: #54321C; }
.list td { background-color: #F9F7F7; vertical-align: top; border-width: 1px; border-style: solid; border-color: #54321C; padding: 5px 5px 5px 5px; }
table.list2 { font-family: Arial, Helvetica, Tahoma; font-size: 9pt; border-width: 0px; border-style: solid; border-color: #54321C; padding: 0px 0px 0px 0px; }
.list2 th { font-size: 11pt; color: #54321C; text-align: left; text-decoration: underline; background-color: #FFFFFF; padding: 2px 2px 2px 2px; }
.list2 td { background-color: #FFFFFF; vertical-align: top; padding: 2px 2px 2px 2px; }
table.list3 { font-family: Arial, Helvetica, Tahoma; font-size: 9pt; width: 100%; border-width: 1px; border-style: solid; border-color: #54321C; border-collapse: collapse; padding: 0px 0px 0px 0px; }
.list3 th { color: #000000; background-color: #FFF3E3; border-width: 1px 0px 1px 0px; border-style: solid; border-color: #54321C; padding: 5px 5px 5px 5px; }
.list3 td { background-color: #F9F7F7; vertical-align: top; border-style: solid; border-color: #54321C; border-width: 1px 0px 1px 0px; padding: 5px 5px 5px 5px; }
td.logo { width: 10%; }
.border { border-width: 0px; border-style: solid; border-color: #54321C; padding: 2px 2px 2px 2px; }
.center { text-align: center; }
.right { text-align: right; }
.nowrap { white-space: nowrap; }
.title { font-size: 16pt; color: #54321C; font-weight: bold; text-align: center; }
.date { font-size: 10pt; color: #54321C; font-weight: bold; text-align: right; }
.header { font-size: 11pt; color: #000000; text-align: center; }
.footer { font-size: 9pt; color: #999999; text-align: left; }
.heading1 { font-size: 11pt; color: #000000; font-weight: bold; background-color: #FFB27F; }
.heading2 { font-size: 11pt; color: #54321C; font-weight: bold; background-color: #FFB27F; }
.heading3 { font-size: 11pt; color: #000000; font-weight: bold; background-color: #DDBCA6; }
.heading4 { font-size: 11pt; color: #54321C; font-weight: bold; background-color: #DDBCA6; }
.heading5 { font-size: 11pt; color: #000000; font-weight: bold; background-color: #D19771; }
.heading6 { font-size: 11pt; color: #54321C; font-weight: bold; background-color: #D19771; }
.heading7 { font-size: 15pt; color: #000000; font-weight: bold; background-color: #D19771; }
.heading8 { font-size: 10pt; color: #000000; font-weight: bold; text-align: center; background-color: #FFD8BF; }
.heading9 { font-size: 10pt; color: #000000; font-weight: bold; background-color: #FFB27F; }
.grouping1 { font-size: 10pt; color: #54321C; font-weight: bold; background-color: #D19771; }
.grouping2 { font-size: 10pt; color: #000000; font-weight: bold; background-color: #D19771; }
.grouping3 { font-size: 9pt; color: #54321C; font-weight: bold; background-color: #DDBCA6; }
.odd_row { background-color: #FFF3E3; }
.even_row { background-color: #FFF9F1; }
.level1 { background-color: #FFF9F1; padding: 2px 2px 2px 2px; }
.level2 { background-color: #FFF3E3; padding: 2px 2px 2px 2px; }
.level2_indent { background-color: #FFF3E3; padding: 2px 2px 2px 12px; }
.level3 { background-color: #FFEBD3; padding: 2px 2px 2px 2px; }
.level3_indent { background-color: #FFEBD3; padding: 2px 2px 2px 22px; }
.level4 { background-color: #FFE3C1; padding: 2px 2px 2px 2px; }
.level4_indent { background-color: #FFE3C1; padding: 2px 2px 2px 32px; }
.level5 { background-color: #FFD9AD; padding: 2px 2px 2px 2px; }
.level5_indent { background-color: #FFD9AD; padding: 2px 2px 2px 42px; }
.level6 { background-color: #FFD39F; padding: 2px 2px 2px 2px; }
.level6_indent { background-color: #FFD39F; padding: 2px 2px 2px 52px; }
.level7 { background-color: #FFCE95; padding: 2px 2px 2px 2px; }
.level7_indent { background-color: #FFCE95; padding: 2px 2px 2px 62px; }
.level8 { background-color: #FFC887; padding: 2px 2px 2px 2px; }
.level8_indent { background-color: #FFC887; padding: 2px 2px 2px 72px; }
.indent_transparent { padding: 0px 0px 0px 12px }
.context_backward_level4_indent { background-color: #FFE3C1; padding: 2px 2px 2px 2px; }
.context_backward_level3_indent { background-color: #FFEBD3; padding: 2px 2px 2px 12px; }
.context_backward_level2_indent { background-color: #FFF3E3; padding: 2px 2px 2px 22px; }
.context_backward_level1_indent { background-color: #FFF9F1; padding: 2px 2px 2px 32px; }
.context { color: #54321C; font-weight: bold; background-color: #FFFFFF; border-style: solid; border-color: #000000; border-width: 1px; padding: 2px 2px 2px 2px; }
.context_indent { color: #54321C; font-weight: bold; background-color: #FFFFFF; border-style: solid; border-color: #000000; border-width: 1px; padding: 2px 2px 2px 42px; }
.context_forward_level1_indent { background-color: #FFF9F1; padding: 2px 2px 2px 52px; }
.context_forward_level2_indent { background-color: #FFF3E3; padding: 2px 2px 2px 62px; }
.context_forward_level3_indent { background-color: #FFEBD3; padding: 2px 2px 2px 72px; }
.context_forward_level4_indent { background-color: #FFE3C1; padding: 2px 2px 2px 82px; }
.document_level1 { background-color: #FFFFFF; padding: 2px 2px 2px 2px; }
.document_level2 { background-color: #FFFFFF; padding: 2px 2px 2px 12px; }
.document_level3 { background-color: #FFFFFF; padding: 2px 2px 2px 22px; }
.document_level4 { background-color: #FFFFFF; padding: 2px 2px 2px 32px; }
.underline { text-decoration: underline; }
.bold { color: #000000; font-weight: bold; }
.bold_large { font-size: 12pt; color: #000000; font-weight: bold; }
.bold_very_large { font-size: 14pt; color: #000000; font-weight: bold; }
.bold_italic { color: #000000; font-weight: bold; font-style: italic; }
.bold_underline { color: #000000; font-weight: bold; text-decoration: underline; }
.bold_color { color: #54321C; font-weight: bold; }
.bold_color_large { font-size: 12pt; color: #54321C; font-weight: bold; }
.bold_color_italic { color: #54321C; font-weight: bold; font-style: italic; }
.bold_color_underline { color: #54321C; font-weight: bold; text-decoration: underline; }
.bold_color_underline_large { font-size: 11pt; color: #54321C; font-weight: bold; text-decoration: underline; }
.hr_default { height:1px; width:100%; color: #000000; background:#000000; }
.calendar_no_date_cell { background-color: #F3F3F3; }
</style>
