<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catlbattery.alm.dao.GroupRoleMapper">
	<insert id="insert">
	  <selectKey keyProperty="id" resultType="int" order="BEFORE">
	      SELECT ALM_GROUP_ROLE_SEQ.NEXTVAL FROM DUAL
	  </selectKey>
	  INSERT INTO ALM_GROUP_ROLE
	  (
	  	ID,
	  	GROUP_ID,
	  	ROLE_ID,
	  	CREATED_BY,
	  	MODIFIED_BY
	  )
	  VALUES
	   (
	   #{id},
	   #{groupId},
	   #{roleId},
	   #{createdBy,jdbcType=VARCHAR},
	   #{modifiedBy,jdbcType=VARCHAR}
	   )
	</insert>
  <insert id="insertAll">
	  INSERT INTO ALM_GROUP_ROLE
	  (
	  	ID,
	  	GROUP_ID,
	  	ROLE_ID,
	  	CREATED_BY,
	  	MODIFIED_BY
	  )
	  SELECT
			ALM_GROUP_ROLE_SEQ.NEXTVAL, T.*
	 from (
	  <foreach collection="list" item="item" index="index"  separator="UNION ALL" > 
     	SELECT
           	#{item.groupId},
           	#{item.roleId},
           	#{item.createdBy,jdbcType=VARCHAR},
           	#{item.modifiedBy,jdbcType=VARCHAR}
       	FROM DUAL
      </foreach>
	 ) T
	</insert>
	<delete id="delete">
  		DELETE FROM ALM_GROUP_ROLE 
	  	WHERE
    	<choose>
		    <when test="id != null and id > 0">
		    	ID = #{id}
		    </when>
		    <otherwise>
		   		GROUP_ID = #{groupId}
		   		AND ROLE_ID = #{roleId}
		    </otherwise>
	  	</choose>
	</delete>
	<delete id="deleteAll"  parameterType="java.util.List">
  		DELETE FROM ALM_GROUP_ROLE 
	  	WHERE
	  	<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">     
  			<choose>
			    <when test="item.id != null and item.id > 0">
			    	ID = #{item.id}
			    </when>
			    <otherwise>
			   		GROUP_ID = #{item.groupId}
			   		AND ROLE_ID = #{item.roleId}
			    </otherwise>
		  	</choose>
    	</foreach>
	</delete>
</mapper>