<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catlbattery.alm.dao.RuleMapper">
  <select id="findById" resultMap="com.catlbattery.alm.mapper.ResultMapper.RuleMap">
	 SELECT
  	 	R.ID,
  	 	R.PARENT_ID,
  	 	R.OPERATOR,
  	 	S.FIELD_NAME,
  	 	S.TARGET_FIELD,
  	 	S.FIELD_VALUE,
  	 	S.NEGATION,
  	 	R.CREATED_BY,
  	 	R.CREATED_DATE,
  	 	R.MODIFIED_BY,
  	 	R.MODIFIED_DATE
  	 FROM
  	 	MKS_RULE R 
  	 LEFT JOIN
		MKS_SOURCE_FIELD S
	 ON
	 	R.SOURCE_FIELD_ID=S.ID
	 WHERE R.ID = #{id}
  </select>
  <select id="findTree" resultMap="com.catlbattery.alm.mapper.ResultMapper.RuleMap">
  	 SELECT
  	 	R.ID,
  	 	R.PARENT_ID,
  	 	R.OPERATOR,
  	 	S.FIELD_NAME,
  	 	S.TARGET_FIELD,
  	 	S.FIELD_VALUE,
  	 	S.NEGATION,
  	 	R.CREATED_BY,
  	 	R.CREATED_DATE,
  	 	R.MODIFIED_BY,
  	 	R.MODIFIED_DATE,
  	 	LEVEL
  	 FROM
  	 	MKS_RULE R
  	 LEFT JOIN
		MKS_SOURCE_FIELD S
	 ON
	 	R.SOURCE_FIELD_ID=S.ID
  	 START WITH R.ID=#{id}
  	 CONNECT BY PRIOR R.ID=R.PARENT_ID
  </select>
  <select id="findList" resultMap="com.catlbattery.alm.mapper.ResultMapper.RuleMap">
   	SELECT
  	 	R.ID,
  	 	R.PARENT_ID,
  	 	R.OPERATOR,
  	 	S.FIELD_NAME,
  	 	S.TARGET_FIELD,
  	 	S.FIELD_VALUE,
  	 	S.NEGATION,
  	 	R.CREATED_BY,
  	 	R.CREATED_DATE,
  	 	R.MODIFIED_BY,
  	 	R.MODIFIED_DATE
  	 FROM
  	 	MKS_RULE R 
  	 LEFT JOIN
		MKS_SOURCE_FIELD S
	 ON
	 	R.SOURCE_FIELD_ID=S.ID
  </select>
</mapper>