<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catlbattery.alm.dao.ConstraintMapper">
  <select id="findById" resultMap="com.catlbattery.alm.mapper.ResultMapper.ConstraintMap">
	SELECT
		C.ID,
		T.NAME AS TYPE,
		C.CONSTRAINT_METHOD,
		C.RULE_ID,
		C.CONSTRAINED_FIELD,
		C.ALLOWED_VALUES,
		C.CREATED_BY,
		C.CREATED_DATE,
		C.MODIFIED_BY,
		C.MODIFIED_DATE
	FROM MKS_CONSTRAINTS C
   	LEFT JOIN MKS_TYPE T ON C.TYPE_ID = T.ID
	WHERE C.ID = #{id}
  </select>
  <select id="findList" resultMap="com.catlbattery.alm.mapper.ResultMapper.ConstraintMap">
   	 SELECT
		C.ID,
		T.NAME AS TYPE,
		C.CONSTRAINT_METHOD,
		C.RULE_ID,
		C.CONSTRAINED_FIELD,
		C.ALLOWED_VALUES,
		C.CREATED_BY,
		C.CREATED_DATE,
		C.MODIFIED_BY,
		C.MODIFIED_DATE
	FROM MKS_CONSTRAINTS C
   	LEFT JOIN MKS_TYPE T ON C.TYPE_ID = T.ID
   	ORDER BY TYPE_ID
  </select>
</mapper>