<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catlbattery.alm.dao.GroupMapper">
  <select id="findById" resultMap="com.catlbattery.alm.mapper.ResultMapper.GroupMap">
	  SELECT
	    G.*,
	    GR.ROLE_ID,
	    R.NAME      		AS role_name,
	    R.DESCRIPTION   	AS role_description,
	    R.CREATED_BY        AS role_created_By,
	    R.CREATED_DATE      AS role_created_Date,
	    R.MODIFIED_BY       AS role_modified_By,
	    R.MODIFIED_DATE     AS role_modified_Date
	  FROM MKS_GROUP G LEFT JOIN ALM_GROUP_ROLE GR ON G.ID = GR.GROUP_ID
	  LEFT JOIN ALM_ROLE R ON R.ID= GR.ROLE_ID
	  WHERE G.ID = #{id}
  </select>
  <select id="findList" resultMap="com.catlbattery.alm.mapper.ResultMapper.GroupMap">
   	  SELECT
	    G.*,
	    GR.ROLE_ID,
	    R.NAME      		AS role_name,
	    R.DESCRIPTION   	AS role_description,
	    R.CREATED_BY        AS role_created_By,
	    R.CREATED_DATE      AS role_created_Date,
	    R.MODIFIED_BY       AS role_modified_By,
	    R.MODIFIED_DATE     AS role_modified_Date
	  FROM MKS_GROUP G LEFT JOIN ALM_GROUP_ROLE GR ON G.ID = GR.GROUP_ID
	  LEFT JOIN ALM_ROLE R ON R.ID= GR.ROLE_ID
  </select>
  <select id="findGroups" resultMap="com.catlbattery.alm.mapper.ResultMapper.GroupMap">
   	  SELECT
	    G.*,
	    GR.ROLE_ID,
	    R.NAME      		AS role_name,
	    R.DESCRIPTION   	AS role_description,
	    R.CREATED_BY        AS role_created_By,
	    R.CREATED_DATE      AS role_created_Date,
	    R.MODIFIED_BY       AS role_modified_By,
	    R.MODIFIED_DATE     AS role_modified_Date
	  FROM MKS_GROUP G LEFT JOIN ALM_GROUP_ROLE GR ON G.ID = GR.GROUP_ID
	  LEFT JOIN ALM_ROLE R ON R.ID= GR.ROLE_ID
	  WHERE G.NAME IN
	  <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	        #{item}
  	  </foreach>
  </select>
  <insert id="insert">
	  <selectKey keyProperty="id" resultType="int" order="BEFORE">
	      SELECT MKS_GROUP_SEQ.NEXTVAL FROM DUAL
	  </selectKey>
	  INSERT INTO MKS_GROUP
	  (
	  	ID,
	  	NAME,
	  	GROUP_ADMIN,
	  	CREATED_BY,
	  	MODIFIED_BY
	  )
	  VALUES
	   (
	   #{id},
	   #{name,jdbcType=VARCHAR},
	   #{groupAdmin,jdbcType=VARCHAR},
	   #{createdBy,jdbcType=VARCHAR},
	   #{modifiedBy,jdbcType=VARCHAR}
	   )
	</insert>
  <insert id="insertAll">
	  INSERT INTO MKS_GROUP
	  (
	  	ID,
	  	NAME,
	  	GROUP_ADMIN,
	  	CREATED_BY,
	  	MODIFIED_BY
	  )
	  SELECT
			MKS_GROUP_SEQ.NEXTVAL, T.*
	 from (
	  <foreach collection="list" item="item" index="index"  separator="UNION ALL" > 
     	SELECT
           	#{item.name,jdbcType=VARCHAR},
           	#{item.groupAdmin,jdbcType=VARCHAR},
           	#{item.createdBy,jdbcType=VARCHAR},
           	#{item.modifiedBy,jdbcType=VARCHAR}
       	FROM DUAL
      </foreach>
	 ) T
	</insert>
	<delete id="delete">
	  DELETE FROM MKS_GROUP WHERE ID = #{id}
	</delete>
	<delete id="deleteAll">
	  DELETE FROM MKS_GROUP
	  WHERE
	 	<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">     
  			id=#{item.id}
    	</foreach>
	</delete>
	<update id="update">
	  UPDATE MKS_GROUP
      <set>
	      <if test="name != null">
	      	NAME=#{name},
      	  </if>
	      <if test="groupAdmin != null">
	      	GROUP_ADMIN=#{groupAdmin},
      	  </if>
	      <if test="modifiedBy != null">
	      	MODIFIED_BY=#{modifiedBy},
	      </if>
	      MODIFIED_DATE = SYSDATE
	  </set>
	  WHERE ID=#{id}
	</update>
	<update id="updateList" parameterType="java.util.List">
	  BEGIN
	  <foreach collection="list" index="index" item="item" open="" close=";" separator=";">
		  UPDATE MKS_GROUP
	      <set>
		      <if test="item.name != null">
		      	NAME=#{item.name},
	      	  </if>
		      <if test="item.groupAdmin != null">
		      	GROUP_ADMIN=#{item.groupAdmin},
	      	  </if>
		      <if test="item.modifiedBy != null">
		      	MODIFIED_BY=#{item.modifiedBy},
		      </if>
		      MODIFIED_DATE = SYSDATE
		  </set>
		  WHERE ID=#{item.id}
	  </foreach>
	  END;
	</update>
</mapper>