<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catlbattery.alm.dao.RoleMapper">
  <select id="findById" resultMap="com.catlbattery.alm.mapper.ResultMapper.RoleMap">
  	SELECT
	    R.*,
	    GR.GROUP_ID,
	    G.NAME      		AS group_name,
	    G.GROUP_ADMIN      	AS group_group_admin,
	    G.CREATED_BY        AS group_created_By,
	    G.CREATED_DATE      AS group_created_Date,
	    G.MODIFIED_BY       AS group_modified_By,
	    G.MODIFIED_DATE     AS group_modified_Date
	  FROM ALM_ROLE R LEFT JOIN ALM_GROUP_ROLE GR ON R.ID= GR.ROLE_ID
	  LEFT JOIN MKS_GROUP G ON G.ID = GR.GROUP_ID
	  WHERE R.ID = #{id}
  </select>
  <select id="findList" resultMap="com.catlbattery.alm.mapper.ResultMapper.RoleMap">
   	SELECT
	    R.*,
	    GR.GROUP_ID,
	    G.NAME      		AS group_name,
	    G.GROUP_ADMIN      	AS group_group_admin,
	    G.CREATED_BY        AS group_created_By,
	    G.CREATED_DATE      AS group_created_Date,
	    G.MODIFIED_BY       AS group_modified_By,
	    G.MODIFIED_DATE     AS group_modified_Date
	  FROM ALM_ROLE R LEFT JOIN ALM_GROUP_ROLE GR ON R.ID= GR.ROLE_ID
	  LEFT JOIN MKS_GROUP G ON G.ID = GR.GROUP_ID
  </select>
    <insert id="insert">
	  <selectKey keyProperty="id" resultType="int" order="BEFORE">
	      SELECT ALM_ROLE_SEQ.NEXTVAL FROM DUAL
	  </selectKey>
	  INSERT INTO ALM_ROLE
	  (
	  	ID,
	  	NAME,
	  	DESCRIPTION,
	  	CREATED_BY,
	  	MODIFIED_BY
	  )
	  VALUES
	   (
	   #{id},
	   #{name,jdbcType=VARCHAR},
	   #{description,jdbcType=VARCHAR},
	   #{createdBy,jdbcType=VARCHAR},
	   #{modifiedBy,jdbcType=VARCHAR}
	   )
	</insert>
  <insert id="insertAll">
	  INSERT INTO ALM_ROLE
	  (
	  	ID,
	  	NAME,
	  	DESCRIPTION,
	  	CREATED_BY,
	  	MODIFIED_BY
	  )
	  SELECT
			ALM_ROLE_SEQ.NEXTVAL, T.*
	 from (
	  <foreach collection="list" item="item" index="index"  separator="UNION ALL" > 
     	SELECT
           	#{item.name,jdbcType=VARCHAR},
           	#{item.description,jdbcType=VARCHAR},
           	#{item.createdBy,jdbcType=VARCHAR},
           	#{item.modifiedBy,jdbcType=VARCHAR}
       	FROM DUAL
      </foreach>
	 ) T
	</insert>
	<delete id="delete">
	  DELETE FROM ALM_ROLE WHERE ID = #{id}
	</delete>
	<delete id="deleteAll">
	  DELETE FROM ALM_ROLE
	  WHERE
	 	<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">     
  			id=#{item.id}
    	</foreach>
	</delete>
	<update id="update">
	  UPDATE ALM_ROLE
      <set>
	      <if test="name != null">
	      	NAME=#{name},
      	  </if>
	      <if test="description != null">
	      	DESCRIPTION=#{description},
      	  </if>
	      <if test="modifiedBy != null">
	      	MODIFIED_BY=#{modifiedBy},
	      </if>
	      MODIFIED_DATE = SYSDATE
	  </set>
	  WHERE ID=#{id}
	</update>
	<update id="updateList" parameterType="java.util.List">
	  BEGIN
	  <foreach collection="list" index="index" item="item" open="" close=";" separator=";">
		  UPDATE ALM_ROLE
	      <set>
		      <if test="item.name != null">
		      	NAME=#{item.name},
	      	  </if>
		      <if test="item.description != null">
		      	DESCRIPTION=#{item.description},
	      	  </if>
		      <if test="item.modifiedBy != null">
		      	MODIFIED_BY=#{item.modifiedBy},
		      </if>
		      MODIFIED_DATE = SYSDATE
		  </set>
		  WHERE ID=#{item.id}
	  </foreach>
	  END;
	</update>
</mapper>